.example-container {
    height:300px;
    width: 1150px;
    max-width: 100%;
    overflow: auto;
  }
  .mat-card{
    background: linear-gradient(#dadada94, #d4d4d4b2), url(../../../assets/svg/plantilla.svg);
    background-position: center center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }
.mat-card-title{
  color: #1B396A;
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
}
  .example-container-s {
    height:300px;
    width: 500px;
    max-width: 95%;
    overflow: auto;
  }
  
  table {
    width: 800px;
    background: #fcfcfc50;
  }
  
  .mat-form-field {
    font-size: 15px;
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
   
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  

  .mat-list-item{
    color:#1B396A;
    font-weight: bold
  }

