<div class="container p-2 overflow-auto" ><!-- style="background: rgba(0, 105, 70, 0.548);" -->
  <mat-card class="container mt-5 mb-2 w-100 p-10">
    <mat-card-header>
      <mat-card-title>
        Plantillas
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex" class="p-10">
        <!--    *******************     Achivos    (keyup)="filtrarTipoArchivo($event.target.value)"************************-->
        <mat-tab label="Achivos" *ngIf="authService.hasRole('ROLE_DOCENTE')">
          <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndexSub" class="p-10">
            <!--    *******************     Pdf    ************************-->
            <mat-tab label="PDF">
              <div class="example-container p-10">

                <table mat-table [dataSource]="archivosPdf" class="mat-elevation-z8 mx-3 mb-3 container"
                  style="width: 85%;">


                  <!-- nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.nombre}} </td>
                  </ng-container>

                  <!-- tipo Column -->
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.tipo}} </td>
                  </ng-container>

                  <!-- Ver Column -->
                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef>Ver archivo </th>
                    <td mat-cell *matCellDef="let archivo">
                      <a href="{{urlBackend}}/api/archivos/uploads/file-pdf/{{archivo.id}}" target="_blank">
                        <button mat-mini-fab class="btn btn-info mx-3">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
                        </button>
                      </a>
                    </td>
                  </ng-container>


                  <!-- detalle Column -->
                  <ng-container matColumnDef="detalles">
                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                    <td mat-cell *matCellDef="let archivo">
                      <button mat-mini-fab class="btn btn-info" [routerLink]="['/archivos/form',archivo.id]">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                          <path fill-rule="evenodd"
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="mostrarColumnasAchivo"></tr>
                  <tr mat-row *matRowDef="let archivo; columns: mostrarColumnasAchivo;">
                  </tr>
                </table>
              </div>
            </mat-tab>
            <!--    *******************     Word    ************************-->
            <mat-tab label="WORD">
              <div class="container">

                <table mat-table [dataSource]="archivosWord" class="mat-elevation-z8 mx-3 mb-3 container"
                  style="width: 80%;">


                  <!-- nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.nombre}} </td>
                  </ng-container>

                  <!-- tipo Column -->
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.tipo}} </td>
                  </ng-container>


                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef>Descargar archivo </th>
                    <td mat-cell *matCellDef="let archivo">
                      <a (click)="redireccion(archivo)">
                        <button mat-mini-fab class="btn btn-info mx-3">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
                        </button>
                      </a>
                    </td>
                  </ng-container>


                  <!-- detalle Column -->
                  <ng-container matColumnDef="detalles">
                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                    <td mat-cell *matCellDef="let archivo">
                      <button mat-mini-fab class="btn btn-info" [routerLink]="['/archivos/form',archivo.id]">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                          <path fill-rule="evenodd"
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="mostrarColumnasAchivo"></tr>
                  <tr mat-row *matRowDef="let archivo; columns: mostrarColumnasAchivo;">
                  </tr>
                </table>
              </div>
            </mat-tab>
            <!--    *******************     Excel    ************************-->
            <mat-tab label="EXCEL">
              <div class="container">

                <table mat-table [dataSource]="archivosExcel" class="mat-elevation-z8 mx-3 mb-3 container"
                  style="width: 75%;">

                  <!-- nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.nombre}} </td>
                  </ng-container>

                  <!-- tipo Column -->
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let archivo"> {{archivo.tipo}} </td>
                  </ng-container>

                  <!-- Ver Column -->
                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef>Ver archivo </th>
                    <td mat-cell *matCellDef="let archivo">
                      <a href="{{URL_BAKEND}}/api/archivos/uploads/file-excel/{{archivo.id}}" target="_blank">
                        <button mat-mini-fab class="btn btn-info mx-3">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
                        </button>
                      </a>
                    </td>
                  </ng-container>


                  <!-- detalle Column -->
                  <ng-container matColumnDef="detalles">
                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                    <td mat-cell *matCellDef="let archivo">
                      <button mat-mini-fab class="btn btn-info" [routerLink]="['/archivos/form',archivo.id]">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                          <path fill-rule="evenodd"
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="mostrarColumnasAchivo"></tr>
                  <tr mat-row *matRowDef="let archivo; columns: mostrarColumnasAchivo;">
                  </tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
