.example-container {
  width: 500px;
  max-width: 90%;
  min-width: 60%;
  overflow: auto;
}

.example-card {
  width: 100%;
  max-width: 100%;
  min-width: 70%;
  overflow: auto;
}

.mat-form-field{
  width: 100%;
  max-width: 100%;
  min-width: 50%;
}