<!--

-->
<div class="container my-3 w-50 p-2" style="background:#1B396A ;">
  <mat-card>
    <div class="example-container">

      <mat-card-header style="background:#ff9101fb ;" class="p-2 mat-elevation-z8">
        <mat-card-title class="text-light">Login Usuario</mat-card-title>
        <mat-card-subtitle class="text-dark">Bienvenido</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mat-elevation-z8 my-3 container p-3 text-light border border-primary" style="background:#1B396A ;">
        <mat-form-field appearance="outline" >
          <mat-label class="text-light">Usuario</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="usuario.username">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label class="text-light">Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" class="text-light">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="container p-3" >
        <button (click)="login()" mat-button class="btn btn-outline-primary">Entrar</button>
        <button [routerLink]="['/rol-usuario']" mat-button class="btn btn-outline-secondary">Crear Cuenta</button>
      </mat-card-actions>

    </div>

  </mat-card>

</div>

<!--

 <div class='fieldset-body' id='login_form'>
          <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
          <p class='field'>
            <label for='user'>Username</label>
            <input [(ngModel)]="usuario.username" type='text' id='user' name='user' title='Username' />
            <span id='valida' class='i i-warning'></span>
          </p>
          <p class='field'>
            <label for='password'>PASSWORD</label>
            <input [(ngModel)]="usuario.password" type='password' id='pass' name='password' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
          <br>

          <input (click)="login()" type='submit' id='do_login' value='GET STARTED' title='Get Started' />
        </div>

  <button class='b-cta' title='Sign up now!' [routerLink]="['/rol-usuario']" routerLinkActive="router-link-active">
        CREATE ACCOUNT</button>
-->
