<!--

-->
<div class="" *ngIf="btnPulsado">
  <div class="cssload-loader">
    <div class="cssload-top">
      <div class="cssload-square">
        <div class="cssload-square">
          <div class="cssload-square">
            <div class="cssload-square">
              <div class="cssload-square"><div class="cssload-square">
    
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cssload-bottom">
      <div class="cssload-square">
        <div class="cssload-square">
          <div class="cssload-square">
            <div class="cssload-square">
              <div class="cssload-square"><div class="cssload-square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cssload-left">
      <div class="cssload-square">
        <div class="cssload-square">
          <div class="cssload-square">
            <div class="cssload-square">
              <div class="cssload-square"><div class="cssload-square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cssload-right">
      <div class="cssload-square">
        <div class="cssload-square">
          <div class="cssload-square">
            <div class="cssload-square">
              <div class="cssload-square"><div class="cssload-square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>


<div class="container example-container my-3  p-2" *ngIf="!btnPulsado">
  <mat-card class="container example-card">
    <div class="container example-card" >

      <mat-card-header  class=" p-2 mat-elevation-z8 w-100 ">
        <mat-card-title class="text-dark font-weight-bolder" >Iniciar Sesion</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-elevation-z8 my-3 p-1 text-light  w-100">
        <mat-form-field appearance="outline" color="accent">
          <mat-label class="text-dark font-weight-bolder">Usuario</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="usuario.username" class="text-dark font-weight-bolder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label class="text-dark font-weight-bolder">Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" class="text-dark font-weight-bolder">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="container p-1" >
        <button (click)="login()" mat-button class="btn " [disabled]="btnPulsado" class="btn-entrar">Entrar</button>
        <button [routerLink]="['/usuarios/form/crear']" mat-button class="btn btn-outline-secondary" [disabled]="btnPulsado" class="btn-crear">Crear Cuenta</button>
      </mat-card-actions>

    </div>

  </mat-card>

</div>

<!--

 <div class='fieldset-body' id='login_form'>
          <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
          <p class='field'>
            <label for='user'>Username</label>
            <input [(ngModel)]="usuario.username" type='text' id='user' name='user' title='Username' />
            <span id='valida' class='i i-warning'></span>
          </p>
          <p class='field'>
            <label for='password'>PASSWORD</label>
            <input [(ngModel)]="usuario.password" type='password' id='pass' name='password' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
          <br>

          <input (click)="login()" type='submit' id='do_login' value='GET STARTED' title='Get Started' />
        </div>

  <button class='b-cta' title='Sign up now!' [routerLink]="['/rol-usuario']" routerLinkActive="router-link-active">
        CREATE ACCOUNT</button>
-->
