.example-container {
    height: 120px;
    width: 1300px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 1000px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }