.example-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 40%;
  overflow: auto;
}

table {
  width: 1000px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-column-star {
  width: 100%;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8x;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #b81818;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}


