table {
  width: 100%;
}

th {
  background-color: #ff9101fb;  
}

td,th {
  font-size: 16px;
  width: 25%;  
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 1px white;
}
td:hover {
  background-color: rgba(31, 73, 129, 0.733);
  color: rgb(255, 255, 255);
}


