<div class="container mx-5">

<section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <!-- END Col one -->
          <div class="col-sm-7">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h2>{{docenteT}}</h2>
              </div>
              <a href="#" [routerLink]="['/usuarios/form/crear','ROLE_DOCENTE']">Crear Docente </a>
            </div>
          </div>
          <!-- END Col two -->
          <div class="col-sm-5">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h2>{{alumnoT}}</h2>
              </div>
              <a href="#" [routerLink]="['/usuarios/form/crear','ROLE_ALUMNO']">Crear Alumno</a>
            </div>
          </div>
          <!-- END Col three -->
        </div>
      </div>
    </div>
  </section>

</div>