.mat-card{
background-color: rgba(136, 138, 137, 0.205);
}
.mat-card-title,.mat-card-subtitle,label{
  color: #1b396a;
  font-weight: bold;
}
.container{
  width: 600px;
  padding: 5px;
}
@media only screen and (max-width: 759px){
  .container{
    width:100%;
  }
}

button{
  background:#1b396a;
  color: white;
}
button:hover{
  box-shadow: 0 4px 16px white;
}