.mat-card{
background-color: rgba(0, 128, 85, 0.671);
}
.mat-card-title,.mat-card-subtitle,label{
  color: white;
}
.container{
  width: 600px;
  padding: 5px;
}
@media only screen and (max-width: 759px){
  .container{
    width:100%;
  }
}

button:hover{
  box-shadow: 0 4px 16px white;
}