<div class="container my-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{usuario.id ? usuario.username: ''}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-3 row">
        <label for="inputPassword1" class="col-sm-2 col-form-label">Nueva contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword1" nombre="contra1 "[(ngModel)]="contra1">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword2" class="col-sm-2 col-form-label">Repetir contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword2" nombre="contra2 "[(ngModel)]="contra2">
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="w-100 btn sobre" (click)="editarUsuario()">Guardar Cambios</button>
    </mat-card-actions>
  </mat-card>
</div>
