.tam-height {
  border: 1px solid cyan;
  background-color: #1b396a6c;
}

.mat-form-field {
  width: 50%;
}

.mat-label {
  color: darkred;
}

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 4px 16px white;
}

.sobre {
  background-color: rgba(49, 138, 172, 1);
  color: white;
}

.sobre:hover {
  color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgb(151, 250, 240);
  box-shadow: 0 4px 16px rgb(39, 110, 138);
  transition: all 0.2s ease;
}

@media only screen and (max-width: 767px) {

  .mat-form-field {
    width: 100%;
  }
}
