.mat-table-sticky {
    border-top: 1px solid #e0e0e0de;
  }
.mat-card-title,table {
  background: #ffffff75;
}
  .mat-card {
  background: linear-gradient(#ffffff42, #ffffff2c), url(../../../../assets/svg/resultados.svg);
  background-position: center center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  }