.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.example-small-box {
  height: 300px;
  width: 500px;
  max-width: 100%;
  overflow: auto;
}

.example-large-box {
  width: 500px;
  max-width: 99%;
  overflow: auto;
}

.contenedor{
  width: 600px;
  max-width: 100%;
}

table {
  width: 100%;
  border-color: crimson;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}