/*.carrousel {
    width: 86%;
    overflow: hidden;
}

.sld {
    list-style: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sld>li {
    position: relative;
    float: left;
}

.sld .slider {
    display: block;
    width: 90%;
    max-width: 85%;
}

.slider {
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
*/



.zoom{
    transition: 1.5s ease;
     -moz-transition: 1.5s ease; /* Firefox */
     -webkit-transition: 1.5s ease; /* Chrome - Safari */
     -o-transition: 1.5s ease; /* Opera */
}
.zoom:hover{
    transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(1.5); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */
}
 