
<mat-card class="example-card container my-2" style="background: #FF9800;">

    <img  src="../../../assets/slider/2.png" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/1.png" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/3.png" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/4.png" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/6.jpg" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/7.jpg" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">
    <img  src="../../../assets/slider/5.jpg" width="100" class="img-thumbnail  img-fluid  zoom" alt="...">

 </mat-card>







<!-- 

<div class="container p-3" style="background-color: rgb(10, 54, 92);">
    <div class="carrousel container " style="margin-left: 13%;">
        <ul class="sld " [style.width]="sliderc" [style.animation]="animation">
            <li *ngFor="let img of imag" [style.width]="sliderl">
    
                <div class="slider" [style.background-image]="img"></div>
            </li>
        </ul>
    
    </div>
</div>

-->