table {
    width:1000px;
    max-width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .div-table{
    width: 1300px;
    height: 200px;
    max-width: 100%;
  }
   

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 4px 16px rgb(50, 132, 165);
    text-shadow: 2px 2px 2px rgb(209, 208, 208);
  }