table {
    width:900px;
    max-width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    font-size: 10pt;
  }

  .div-table{
    width: 1300px;
    height: 200px;
    max-width: 100%;
  }
   