<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="codigo">Codigo <mat-icon> vpn_key</mat-icon></label>
        <input type="text" class="form-control" id="codigo" (keyup)="Codigo($event.target.value)">
      </div>
    </div>
  </div>
</div>

<div class="container fondo-contenedor" *ngIf="rolA">
  <app-uformulario-alumno ></app-uformulario-alumno>
</div>

<div class="container fondo-contenedor" *ngIf="rolD">
  <div>
    <app-uformulario-docente ></app-uformulario-docente>
  </div>
</div>
