*:hover{
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
section{
    width:100%;
    background: linear-gradient(#ffffff7a, #ffffff54), url(../../../assets/svg/home.svg);
    background-position: center center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    padding:30px ;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

/*Profile card 2*/
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 70px;
  border: solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#1B396A ;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}


.btn-shadow:hover{
    box-shadow: 0 2px 2px rgb(238, 128, 2);
}

.colorBtn{
   background:#1B396AE6;
   color:#fff;
}

.altura{
    height: 200px;
}

.fondo-archivo,.fondo-aviso,.fondo-evaluacion{
    color:rgba(0, 0, 0, 0);
}
.fondo-archivo:hover,.fondo-aviso:hover,.fondo-evaluacion:hover{
    color:rgb(0, 0, 0);
    background: #ff6f0041 ;
    transition: all 0.1s linear;
    
}

.fondo-archivo{
    background: linear-gradient(#ffffff00, #ffffff00),url(../../../assets/home/archivos.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.fondo-aviso{    
    background: linear-gradient(#ffffff00, #ffffff00),url(../../../assets/home/avisos.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.fondo-evaluacion{
    background: linear-gradient(#ffffff18, #ffffff17),url(../../../assets/home/evaluacion.webp);
    background-repeat: no-repeat;
    background-size: contain;
}




