<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12">
      <section>
        <div class="container">
          <!--background:#1B396AE6; -->
          <div class="row">
            <div class="col-md-6 col-lg-4 " *ngIf="estado()">
              <div class=" card profile-card-2 altura d-flex justify-content-center align-items-center fondo-archivo mat-elevation-z8">

                <div class="card-body pt-2">
                  <div style="height: 80px; width: 100%; max-width: 100%;"
                    class=" d-flex justify-content-center align-items-center ">
                    Subida de archivos (Formatos) y Listado de archivos                  
                  </div>
                </div>
              </div>
              <p class=" w-100 float-left text-center">
                <button type="button" class="btn colorBtn btn-shadow w-50" [routerLink]="['/archivos']">Crear
                  Archivo</button>
              </p>
            </div>

            <div class="col-md-6  col-lg-4">
              <div class="card profile-card-2 altura d-flex justify-content-center align-items-center fondo-archivo mat-elevation-z8">

                <div class="card-body pt-2">
                  <h5 class="card-title"></h5>
                  <div style="height: 80px; width: 100%; max-width: 100%;"
                  class="d-flex justify-content-center align-items-center">
                    <div>
                    Buscar formatos para documentacion (word,pdf,exel)
                      docente   
                    </div>                 
                  </div>
                </div>
              </div>
              <p class=" w-100 float-left text-center">
                <button type="button" class="btn colorBtn btn-shadow w-50" [routerLink]="['/consultas']">Ir</button>
              </p>
            </div>

            <div class="col-md-6 col-lg-4" *ngIf="estado()">
              <div class="card profile-card-2 altura d-flex justify-content-center align-items-center fondo-evaluacion mat-elevation-z8">

                <div class="card-body pt-2">
                  <div style="height: 80px; width: 100%; max-width: 100%;"
                    class="d-flex justify-content-center align-items-center">
                    <div>
                      Creacion de evaluaciones
                    </div>
                    
                  </div>
                </div>
              </div>
              <p class=" w-100 float-left text-center">
                <button type="button" class="btn colorBtn btn-shadow w-50"
                  [routerLink]="['/examenes']">Evaluacion</button>
              </p>
            </div>

            <div class="col-md-6 col-lg-4 ">
              <div class="card profile-card-2 altura fondo-aviso d-flex justify-content-center align-items-center mat-elevation-z8">

                <div class="card-body pt-2">
                  <div style="height: 80px; width: 100%; max-width: 100%;"
                    class="d-flex justify-content-center align-items-center">
                    <div>Avisos/Noticias por parte del programa de tutorias</div>                     
                  </div>
                </div>
              </div>
              <p class=" w-100 float-left text-center">
                <button type="button" class="btn colorBtn btn-shadow w-50 my-1" *ngIf="estado()"
                  [routerLink]="['/avisos/form/noticia']">Crear aviso</button>
                <button type="button" class="btn colorBtn btn-shadow w-50 my-1" [routerLink]="['/avisos/list']">Ver
                  avisos</button>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
