.example-container {
  height: 300px;
  width: 1150px;
  max-width: 100%;
  overflow: auto;
}

.fondo-div{
  background: linear-gradient(#ffffff7a, #ffffff54), url(../../../assets/svg/evaluacion.svg);
  background-position: center center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}
table {
  width: 1000px;
}

.card-header {
  color: white;
  text-shadow: 2px 2px 2px whitesmoke;
  font-size: 14pt;
}

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 4px 16px rgb(125, 207, 240);
}



tr:hover {
  box-shadow: 0 6px 15px rgba(196, 118, 0, 0.849);
}

.titulo{
  color:#1b396a;
  font-weight: bold;
}
.btn-azul{
  background:#1b396a;
  color:#ffff;
}
.mat-paginator {
  color:#000;
  font-size: 14pt;
  background: #ffffffad;
}


