<div class="container">
  <div class="card mb-3 mt-5 fondo-div" >
    <div class="card-header titulo">{{titulo}} <button class="btn btn-azul my-2 zoom"
        routerLink="/examenes/form">Crear</button></div>
    <div class="card-body example-container" >

      <div class="alert alert-info" *ngIf="listar?.length==0">
        No hay evaluaciones en el sistema.
      </div>
      <div>
        <button mat-button (click)="eliminarResultadosYRespuestas()" color="warn">Limpiar Respuestas y Resultados</button>
      </div>
      <table class="table table-hover table-striped" *ngIf="listar?.length>0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Preguntas</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examen of listar">
            <td>{{examen.nombre}} - {{examen.enabled}}</td>
            <td>{{examen.preguntas.length}}</td>
            <td><button mat-raised-button class="btn-azul zoom" [routerLink]="['/examenes/form', examen.id]">
                editar
              </button></td>
            <td><button mat-raised-button class="btn btn-danger  zoom" (click)="eliminarEvaluacion(examen)">
                eliminar
              </button>
              <button mat-raised-button class="btn btn-success  zoom" [disabled]="examen.enabled"
                (click)="disabledButton(examen)">
                activar
              </button>
              <button mat-raised-button class="btn btn-danger btn-sm zoom" [disabled]="!examen.enabled"
                (click)="disabledButton(examen)">
                desactivar
              </button></td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
        [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
      </mat-paginator>
    </div>
  </div>
</div>
