<div class="container my-2 p-5" >
  <mat-card>
    <mat-card-header class="w-100">
      <mat-card-title class="mat-elevation-z8 p-3 w-100" style="background: #ff9101fb;">
        Archivo {{archivo?.nombre}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-elevation-z8">
      <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
        <mat-tab label="Crear archivos" *ngIf="!archivoCreate.id">
          <div class="container my-3">
            <mat-form-field appearance="outline" style="width: 450px;max-width: 70%;">
              <mat-label for="nombre">Nombre</mat-label>
              <input required matInput name="nombre" placeholder="Placeholder" [(ngModel)]="archivoCreate.nombre">
              <div class="alert alert-danger" *ngIf="error?.nombre">
                {{ error.nombre }}
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 350px;max-width: 70%;" class="mx-5">
              <mat-select required [(ngModel)]="archivoCreate.tipo">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let t of tipo" [value]="t.valor">{{t.muestraValor}}</mat-option>
                <mat-error *ngIf="!archivo.tipo"> El campo tipo no puede ser vacio</mat-error>
              </mat-select>

              <mat-label>
                <b> Tipo</b> <i> archivo</i>
              </mat-label>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 450px;max-width: 70%;">
              <mat-label>Comentario</mat-label>
              <textarea matInput name="comentario" [(ngModel)]="archivoCreate.comentario"></textarea>
            </mat-form-field>

            <div class="input-group">
              <div class="custom-file">
                <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
              </div>
              <div class="input-group-append">
                <button (click)="subirArchivo()" [disabled]="!archivoSelected" class="btn btn-outline-secondary"
                  type="button" id="inputGroupFileAddon04">Subir</button>
              </div>
            </div>

            <div *ngIf="progreso > 0" class="container">
              <mat-progress-bar mode="determinate" [ngStyle]="{width:progreso+'%'}" [value]="progreso">
              </mat-progress-bar>
            </div>

            <span *ngIf="archivoSelected" class="my-5">Archivo Seleccionado

              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                  d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
              </svg>

            </span>

          </div>



        </mat-tab>

        <mat-tab label="Editar archivo" *ngIf="archivo.id">

          <mat-form-field appearance="outline" class="mx-3" style="width: 450px;max-width: 70%;">
            <label for="nombre">Nombre</label>
            <input matInput required name="nombre" [(ngModel)]="archivo.nombre">
            <mat-error *ngIf="error?.nombre">{{ error.nombre }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" id="selectTipo" style="width: 350px;max-width: 70%;" class="mx-5">
            <mat-select [disabled]="true" required [(ngModel)]="archivo.tipo">
              <mat-option>-- None --</mat-option>
              <mat-option *ngFor="let t of tipo" [value]="t.valor">{{t.muestraValor}}</mat-option>
            </mat-select>
            <mat-label>
              <b> Tipo</b> <i> archivo</i>
            </mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 450px;max-width: 70%;" class="mx-3">
            <mat-label>Comentario</mat-label>
            <textarea matInput name="comentario" [(ngModel)]="archivo.comentario"></textarea>
          </mat-form-field>

          <div class="input-group">
            <div class="custom-file">
              <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">{{archivoSelected?.name}}</label>
            </div>
            <div class="input-group-append">
              <button (click)="editarArchivo()" [disabled]="!archivoSelected" class="btn btn-outline-secondary"
                type="button" id="inputGroupFileAddon04">Editar</button>
            </div>
          </div>

          <div *ngIf="progreso > 0" class="container">
            <mat-progress-bar mode="determinate" [ngStyle]="{width:progreso+'%'}" [value]="progreso"></mat-progress-bar>
          </div>

          <span *ngIf="archivoSelected" class="my-5">Archivo Seleccionado

            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </span>

        </mat-tab>

      </mat-tab-group>

    </mat-card-content>

    <button mat-raised-button color="primary" class="m-4" [routerLink]="['/archivos']">
      Regresar

      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
      </svg>
    </button>

    <button mat-raised-button color="primary" class="m-4" (click)="editar()" *ngIf="archivo.id">
      Editar
      <mat-icon>create</mat-icon>
    </button>

  </mat-card>
</div>
