<mat-card>
  <mat-card-header *ngIf="usuario">
    <mat-card-title>
      Alumno del Usuario {{usuario.username}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
      <mat-tab label="Crear Perfil" *ngIf="!alumno">
        <div class="container my-5 p-10">

          <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
            <mat-mat-label for="id">Matricula</mat-mat-label>
            <input matInput required name="id" [(ngModel)]="alumnos.matricula">
            <div class="alert alert-danger" *ngIf="error?.matricula">
              {{ error.matricula }}
            </div>
          </mat-form-field>

          <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
            <mat-mat-label for="nombre">Nombre</mat-mat-label>
            <input matInput required name="nombre" [(ngModel)]="alumnos.nombre">
            <div class="alert alert-danger" *ngIf="error?.nombre">
              {{ error.nombre }}
            </div>
          </mat-form-field>

          <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
            <mat-label for="apellido">Apellido</mat-label>
            <input matInput required name="apellido" [(ngModel)]="alumnos.apellido">
            <div class="alert alert-danger" *ngIf="error?.apellido">
              {{ error.apellido }}
            </div>
          </mat-form-field>

          <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
            <mat-label for="correo">Correo</mat-label>
            <input matInput required name="correo" [(ngModel)]="alumnos.correo">
            <div class="alert alert-danger" *ngIf="error?.correo">
              {{ error.correo }}
            </div>
          </mat-form-field>

          <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
            <mat-label for="carrera">Carrera</mat-label>
            <input matInput required name="carrera" [(ngModel)]="alumnos.carrera">
            <div class="alert alert-danger" *ngIf="error?.carrera">
              {{ error.carrera }}
            </div>
          </mat-form-field>



          <button mat-raised-button color="primary" class="m-4" (click)="createAlumno()">
            Crear
          </button>
        </div>
      </mat-tab>


      <mat-tab label="Editar Perfil" *ngIf="alumno">

        <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
          <mat-label for="matricula">Matricula</mat-label>
          <input matInput required name="matricula" [(ngModel)]="alumno.matricula">
          <div class="alert alert-danger" *ngIf="error?.matricula">
            {{ error.matricula }}
          </div>
        </mat-form-field>

        <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
          <mat-label for="nombre">Nombre</mat-label>
          <input matInput required name="nombre" [(ngModel)]="alumno.nombre">
          <div class="alert alert-danger" *ngIf="error?.nombre">
            {{ error.nombre }}
          </div>
        </mat-form-field>

        <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
          <mat-label for="apellido">Apellido</mat-label>
          <input matInput required name="apellido" [(ngModel)]="alumno.apellido">
          <div class="alert alert-danger" *ngIf="error?.apellido">
            {{ error.apellido }}
          </div>
        </mat-form-field>

        <mat-form-field class="mx-3" style="width: 45%;" appearance="outline">
          <mat-label for="correo">Correo</mat-label>
          <input matInput required name="correo" [(ngModel)]="alumno.correo">
          <div class="alert alert-danger" *ngIf="error?.correo">
            {{ error.correo }}
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-mat-label>Seleccionar Carrera</mat-mat-label>
          <mat-select [(ngModel)]="alumno.carrera">
            <mat-option>None</mat-option>
            <mat-option value="ISC">ISC</mat-option>
            <mat-option value="IAD">IAD</mat-option>
            <mat-option value="GAS">GAS</mat-option>
            <mat-option value="IDC">IDC</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-mat-label>Select an option</mat-mat-label>
          <mat-select [(value)]="selected" [(ngModel)]="alumno.semestre">
            <mat-option>None</mat-option>
            <mat-option value="PRIMERO">PRIMERO</mat-option>
            <mat-option value="SEGUNDO">SEGUNDO</mat-option>
            <mat-option value="TERCERO">TERCERO</mat-option>
            <mat-option value="CUARTO">CUARTO</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="m-4" (click)="editar()">
          Editar
        </button>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
