  .mat-card-title{
    font-size: 18pt;
    font-weight: bold;
    font-family: sans-serif;
    color: #1b396a;
  }
  table {
    width: 1300px;
  }
  .mat-form-field {
    font-size: 16px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #b81818;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  .sobre {
    background-color: rgba(49, 138, 172, 1);
    color: white;
  }
  
  .sobre:hover {
    color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgb(151, 250, 240);
    box-shadow: 0 4px 16px rgb(39, 110, 138);
    transition: all 0.2s ease;
  }

  .container{
    padding: 1px;
  }
  .colorBtn{
    background:#1B396AE6;
    color:#fff;
 }
 .newPass{
   color: #1B396AE6;
   text-decoration: solid;
 }

  @media only screen and (max-width: 759px){
    .container{
      width:100%;
    }
  }