<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container" style="background:rgba(119, 134, 134, 0.205) ;">

  <mat-card>
    <mat-card-header class="w-100" *ngIf="usuario">
      <mat-card-title>
        Usuario {{usuario.username}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
        <!--    *******************     Editar Perfil    ************************-->
        <mat-tab label="Perfil">
          <div class="container my-1">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="mx-3 w-100" appearance="outline">
                  <mat-label for="matricula">Matricula</mat-label>
                  <input matInput required name="matricula" [(ngModel)]="alumno.matricula">
                  <div class="alert alert-danger" *ngIf="error?.matricula">
                    {{ error.matricula }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class=" w-75" appearance="outline">
                  <mat-label for="nombre">Nombre</mat-label>
                  <input matInput required name="nombre" [(ngModel)]="alumno.nombre">
                  <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{ error.nombre }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class=" mx-3 w-100" appearance="outline">
                  <mat-label for="apellido">Apellidos</mat-label>
                  <input matInput required name="apellido" [(ngModel)]="alumno.apellido">
                  <div class="alert alert-danger" *ngIf="error?.apellido">
                    {{ error.apellido }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="w-75" appearance="outline">
                  <mat-label for="correo">Correo</mat-label>
                  <input matInput required name="correo" [(ngModel)]="alumno.correo">
                  <div class="alert alert-danger" *ngIf="error?.correo">
                    {{ error.correo }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="mx-3 w-100" appearance="outline">
                  <mat-label for="promAsistencia">Asistencia</mat-label>
                  <input matInput type="number" required name="promAsistencia" [(ngModel)]="alumno.promAsistencia"
                    disabled="!acceso()">
                  <div class="alert alert-danger" *ngIf="error?.promAsistencia">
                    {{ error.promAsistencia }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill" style="width: 450px;max-width: 70%;" class="mx-3">
                  <mat-label>Seleccionar Carrera</mat-label>
                  <mat-select [(ngModel)]="alumno.carrera">
                    <mat-option>None</mat-option>
                    <mat-option required *ngFor="let c of carrera" [value]="c.valor">{{c.muestraValor}}</mat-option>
                  </mat-select>
                  <div class="alert alert-danger" *ngIf="error?.carrera">
                    {{ error.carrera }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill" style="width: 450px;max-width: 70%;" class="mx-3">
                  <mat-select required [(ngModel)]="alumno.semestre">
                    <mat-option>-- None --</mat-option>
                    <mat-option required *ngFor="let s of semestre" [value]="s.valor">{{s.muestraValor}}</mat-option>
                  </mat-select>
                  <div class="alert alert-danger" *ngIf="error?.semestre">
                    {{ error.semestre }}
                  </div>
                  <mat-label>
                    <b> SEMESTRE</b>
                  </mat-label>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill" style="width: 450px;max-width: 70%;" class="mx-3">
                  <mat-select required [(ngModel)]="alumno.grupo">
                    <mat-option>-- None --</mat-option>
                    <mat-option required *ngFor="let s of grupo" [value]="s.valor">{{s.muestraValor}}</mat-option>
                  </mat-select>
                  <div class="alert alert-danger" *ngIf="error?.grupo">
                    {{ error.grupo }}
                  </div>
                  <mat-label>
                    <b> Grupo</b>
                  </mat-label>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="mx-3" style="width: 450px;max-width: 70%;" appearance="outline">
                  <mat-label for="periodoSemestral">Periodo Semestral</mat-label>
                  <input matInput required name="periodoSemestral" [(ngModel)]="alumno.periodoSemestral"
                    placeholder="Ejemplo: Enero 2020- Junio 2020">
                  <div class="alert alert-danger" *ngIf="error?.periodoSemestral">
                    {{ error.periodoSemestral }}
                  </div>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="mx-3" style="width: 450px;max-width: 70%;" appearance="outline">
                  <mat-label for="telefono">Telefono</mat-label>
                  <input matInput required type="number" name="telefono" [(ngModel)]="alumno.telefono">
                  <div class="alert alert-danger" *ngIf="error?.telefono">
                    {{ error.telefono }}
                  </div>
                </mat-form-field>
              </div>
            </div>
            <mat-card class="border border-primary" *ngIf="docente" style="width: 400px; max-width: 100%;">
              {{docente.nombre}}
              <button mat-raised-button color="accent" class="mx-2" *ngIf="alumno?.promAsistencia > 79"
                [routerLink]="['/alumnos/responder-examen/',alumno.id]">
                Evaluación
              </button>

              <button mat-raised-button (click)="asistenciasAlumno()" *ngIf="acceso()">Asistencias</button>
            </mat-card>
            <!--     -->
            <div *ngIf="btnPulsado">
              <button mat-raised-button class="w-25 my-5 sobre colorBtn" (click)="alumno.id? editar():crear()">
                {{ alumno.id? 'Editar': 'Crear' }}
              </button>
              <div *ngIf="!btnPulsado">
                <mat-spinner></mat-spinner>
              </div>           

            </div>
          </div>
        </mat-tab>
        <!--  *******************     Ver archivos    ************************-->
        <mat-tab label="Ver archivos" [(selectedIndex)]="tabIndex" *ngIf="alumno">
          <div class="container example-container my-1 p-2">

            <button type="button" class="btn colorBtn" (click)="mostrarArchivos()">Actualizar</button>
            <mat-card class="my-3">
              <mat-card-header *ngIf="archivos">
                <mat-card-title class="mx-5" style="color: aliceblue;">Archivos<mat-icon>library_books</mat-icon>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="w-75">
                <div class="container example-container">

                  <table mat-table [dataSource]="archivos" *ngIf="archivos?.length > 0" class="mat-elevation-z8"
                    style="width: 90%;">

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Clave</th>
                      <td mat-cell *matCellDef="let a"> {{a.id}} </td>
                    </ng-container>

                    <!-- nombre Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef> Nombre </th>
                      <td mat-cell *matCellDef="let a"> {{a.nombre}} </td>
                    </ng-container>

                    <!-- comentario Column -->
                    <ng-container matColumnDef="comentario">
                      <th mat-header-cell *matHeaderCellDef> comentario </th>
                      <td mat-cell *matCellDef="let a"> {{a.comentario}} </td>
                    </ng-container>

                    <!-- tipo Column -->
                    <ng-container matColumnDef="tipo">
                      <th mat-header-cell *matHeaderCellDef> tipo </th>
                      <td mat-cell *matCellDef="let a"> {{a.tipo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="archivo">
                      <th mat-header-cell *matHeaderCellDef> archivo </th>
                      <td mat-cell *matCellDef="let a">
                        <a>
                          <button (click)="redireccion(a)" mat-mini-fab color="primary">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                              <path fill-rule="evenodd"
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                          </button>
                        </a>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                      <th mat-header-cell *matHeaderCellDef>Editar</th>
                      <td mat-cell *matCellDef="let a">
                        <button mat-mini-fab class="colorBtn" [routerLink]="['/archivos/form',a.id]"
                          routerLinkActive="router-link-active">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                          </svg>
                        </button>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                      <td mat-cell *matCellDef="let a">
                        <button mat-mini-fab color="warn" (click)="eliminarArchivo(a)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mostrarColumnasArchivos"></tr>
                    <tr mat-row *matRowDef="let archivo; columns: mostrarColumnasArchivos;">
                    </tr>
                  </table>
                </div>
                <br>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Cambiar Contraseña" [(selectedIndex)]="tabIndex" *ngIf="alumno">
          <div class="my-5">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>{{usuario?.id? usuario.username: ''}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="container">
                  <div class="mb-3 row">
                    <div class="col-4 mb-2">
                      <label for="inputPassword1" class="form-label newPass">Nueva contraseña</label>
                    </div>
                    <div class="col-8 mb-2">
                      <div class="input-group input-group-sm">
                        <div class="">
                          <input type="password" class="form-control" id="inputPassword1" nombre="contra1 "
                            [(ngModel)]="contra1">
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <label for="inputPassword2" class="form-label newPass">Repetir contraseña</label>
                    </div>
                    <div class="col-8">
                      <div class="input-group input-group-sm">
                        <div class="">
                          <input type="password" class="form-control" id="inputPassword2" nombre="contra2 "
                            [(ngModel)]="contra2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="w-25 colorBtn sobre" (click)="editarUsuario()">Guardar Cambios</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
