<div class="d-flex align-items-center justify-content-center loading" *ngIf="loading">
  <div class="cssload-preload-juggle">
    <div class="cssload-ball"></div>
    <div class="cssload-ball"></div>
    <div class="cssload-ball"></div>
  </div>
</div>

<div class="container" *ngIf="!loading">

  <mat-card class="my-3">
    <!--style="background: #1b6a598a;"-->
    <mat-card-header *ngIf="listar">
      <mat-card-title >{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container p-2">
        <!--style="background: #FF9800;"-->

        <mat-card class="w-100 ">
          <mat-form-field class="fondo-blanco">
            <mat-label class="text-12 ">Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        </mat-card>
        <div class="example-container mat-elevation-z8  w-100" *ngIf="listar?.length>0">
          <table mat-table [dataSource]="dataSource" id="docentesTable">

            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef> Clave</th>
              <td mat-cell *matCellDef="let docente"> {{docente.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let docente"> {{docente.nombre}} </td>
            </ng-container>

            <!-- apellido Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> apellido </th>
              <td mat-cell *matCellDef="let docente"> {{docente.apellido}} </td>
            </ng-container>

            <!-- Correo Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let docente"> {{docente.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="division">
              <th mat-header-cell *matHeaderCellDef> Division </th>
              <td mat-cell *matCellDef="let docente"> {{docente.division}} </td>
            </ng-container>

            <ng-container matColumnDef="examenes">
              <th mat-header-cell *matHeaderCellDef>Evaluaciones</th>
              <td mat-cell *matCellDef="let docente">
                <button class="btn btn-info btn-sm zoom" [routerLink]="['/examenes/asignar-examenes', docente.id]">
                  Resultados ({{docente.examenes.length}})
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="asignar">
              <th mat-header-cell *matHeaderCellDef>Alumnos</th>
              <td mat-cell *matCellDef="let docente">
                <button class="btn btn-info btn-sm zoom" [routerLink]="['/docentes/asignar-alumnos', docente.id]">
                  Configurar ({{docente.alumnos.length}})
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> archivo(s) </th>
              <td mat-cell *matCellDef="let docente">

                <button mat-mini-fab color="primary" class="zoom"
                  [routerLink]="['/docentes/form/docente-archivo', docente.id]">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                  </svg>
                </button>

              </td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
              <th mat-header-cell *matHeaderCellDef>Eliminar</th>
              <td mat-cell *matCellDef="let docente">
                <button mat-mini-fab color="warn" (click)="eliminar(docente)" class="zoom">
                  <svg width="2em" height="2em" viewBox="0 0 16 17" class="bi bi-x-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mostrarColumnasDocentes"></tr>
            <tr mat-row *matRowDef="let row; columns: mostrarColumnasDocentes;"></tr>
          </table>
        </div>
        <button mat-raised-button class="colorBtn my-1 zoom" [routerLink]="['/examenes/asignar-examenes']">
          Asignar Evaluacion</button>
        <button mat-raised-button (click)="exportexcel()" class="zoom colorBtn">Exportar Excel</button>
        <br>
      </div>
    </mat-card-content>
  </mat-card>  
</div>

<div class="container mat-elevation-z8 ">
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>