<div class="d-flex align-items-center justify-content-center loading" *ngIf="loading">
  <div class="cssload-preload-juggle">
    <div class="cssload-ball"></div>
    <div class="cssload-ball"></div>
    <div class="cssload-ball"></div>
  </div>
</div>

<div>
  <mat-card class="container my-3">
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group dynamicHeight backgroundColor="primary" [(selectedIndex)]="tabIndex">
        <mat-tab label="Usuarios" color="white">

          <mat-card>
            <mat-form-field class="w-100">
              <mat-label class="text-12">Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
          </mat-card>
          <div class="container example-container my-1 mx-10" *ngIf="!loading">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

              <ng-container matColumnDef="id" style="width: 400px;">
                <th mat-header-cell *matHeaderCellDef> Cambiar contraseña</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button c [routerLink]="['/usuarios/url-secret/lvb4/admin/itste',element.id]"
                    class="zoom colorBtn">Avanzado</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <label *ngFor="let rol of element.roles">
                      <ng-container *ngIf="rol.nombre === 'ROLE_ALUMNO'; else docentep">
                        <a href=""
                          [routerLink]="['/alumnos/form/alumno-perfil/',element.username]">{{element.username}}</a>
                      </ng-container>
                      <ng-template #docentep>
                        <a href=""
                          [routerLink]="['/docentes/form/docente-perfil/',element.username]">{{element.username}}</a>
                      </ng-template>
                    </label>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> Roles </th>
                <td mat-cell *matCellDef="let element">
                  <table class="table table-light" style="width: 190px;">
                    <tbody>
                      <tr *ngFor="let rol of element.roles">
                        <td *ngIf="rol.nombre === 'ROLE_ALUMNO'">
                          ALUMNO
                        </td>
                        <td *ngIf="rol.nombre === 'ROLE_DOCENTE'">
                          DOCENTE
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="mostrarColumnasUsuarios2"></tr>
              <tr mat-row *matRowDef="let row; columns: mostrarColumnasUsuarios2;"></tr>
            </table>
          </div>
          <br>
          <div class="mat-elevation-z8 my-1">
            <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        <!--*********************** Usuarios Admin  *******************+-->

        <mat-tab label="Usuarios Admin">
          <div class="container my-5" *ngIf="!loading">
            <table mat-table [dataSource]="usuariosAdmin" class="mat-elevation-z8 w-100">
              <!-- id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Cambiar contraseña </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button class="colorBtn"
                    [routerLink]="['/usuarios/url-secret/lvb4/admin/itste/',element.id]">Avanzado</button>
                </td>
              </ng-container>

              <!-- Username Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>

              <!-- Editar Column -->
              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-mini-fab color="warn"
                    (click)="eliminar(element)">x</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="mostrarColumnasUsuarios"></tr>
              <tr mat-row *matRowDef="let row; columns: mostrarColumnasUsuarios;"></tr>
            </table>


          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
