<div class="example-container mx-2 ">

  <div class="d-flex justify-content-between pt-3">
    <div>
      <img src="../../../../assets/Resporte/gob.webp" alt="..." class="img-fluid float-left"
      style="width: 8.53cm; height: 1.89cm;">
    </div>
    <div class="d-flex justify-content-around">
      <div><img src="../../../../assets/Resporte/tecnm.webp" alt="..." class="img-fluid float-right mx-3"
        style="width: 5.50cm; height: 1.59cm;"> </div> 
     </div>
      <div><img src="../../../../assets/Resporte/gob2.webp" alt="..." class="img-fluid float-right mx-3"
        style="width: 2.05cm; height: 2.05cm;"></div>
      
  </div>

  <br>
  <div class="d-block" >
    <p class="text-center">Instituto Tecnológico Superior de Teposcolula</p>
    <p class="text-center"><input type="text" name="" id="leyenda" class="sinborde" style="width: 7.5cm; text-align: center;"  value="" ></p>
  </div>

</div>
