<div class="example-container ">
  <div class="container-fluid p-1 w-100">
    <img src="../../../../assets/Resporte/gob.png" alt="..." class="img-fluid float-left"
      style="width: 8.53cm; height: 1.89cm;">
    <img src="../../../../assets/Resporte/gob2.png" alt="..." class="img-fluid float-right mx-5"
      style="width: 1.59cm; height: 1.49cm;">
    <img src="../../../../assets/Resporte/tecnm.png" alt="..." class="img-fluid float-right mx-5"
      style="width: 3.40cm; height: 1.50cm;">

  </div>
  <br><br><br><br>
  <div class="d-block">

    <p class="text-center">Instituto Tecnológico Superior de Teposcolula</p>
    <p class="text-center"><input type="text" name="" id="subtitle" class="sinborde" style="width: 7.5cm; text-align: center;"  value="“2021, Año de Leona Vicario, Benemérita Madre de la Patria”" ></p>

  </div>

</div>
