.container {
  width: 800px;
}

.mat-card {
  background: linear-gradient(#cacaca33, #c7c6c688), url(../../../../assets/svg/crear-evaluacion.svg);
  background-position: center center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

.mat-card-content {
  padding: 15px;
}

span,
label,
.mat-card-subtitle,
.mat-card-title {
  color: rgb(3, 3, 3);
  font-weight: bold;
  text-shadow: 0 2px 2px white;
}

.tam-form {
  font-size: 12pt;
  font-weight: bold;
}
.mat-card-title{
  font-size: 18pt;
  font-weight: bold;
}

.color-texto {
  color: #1b396a;
}

.btn-azul {
  background: #1b396a;
  color: white;
}

input:hover,
textarea:hover {
  box-shadow: 0 4px 16px white;
}

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 4px 16px white;
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100%;
  }
}
