.example-container {
  width:100%;
}

.div-left-footer {
  width:100%;
  height: 2cm;
}

table{
  width: 100%;
}
.div-medium-footer {
  width: 90%;
  height: 2cm;
}

.div-right-footer {
  width: 70%;
  height: 2cm;
}

.p-medium {
  font-family: 'Soberana Sans';
  font-size: 8pt;
}

.p {
  font-family: 'Soberana Sans';
  font-size: 3pt;
}

p {
  line-height: 100%;
  font-size: 10pt;
}

.img-itste {
  width: 1cm;
  height: 1.2cm;
}
