<div class="container-fluid overflow-auto bg-secondary" style="width: 1300px; height: 500px; max-width: 100%; ">
  <div class="container-fluid overflow-auto" id="element-to-print">
    <mat-card class="container-fluid example-card pr-5" style="width: 21.30cm; height: 27.79cm;">
      <div class="container-fluid">
        <app-header></app-header>
      </div>
      <mat-card-content>
        <br>
        <div class="container-fluid overflow-auto" >
          <div class="container-fluid">
            <br>
          </div>

          <div class="container-fluid">
            <p class="text-right tam9">San Pedro y San Pablo Teposcolula, Oaxaca,<input type="text"
                class="sinborde inputRight tam9" value="2/Diciembre/2019"></p>
            <p class="text-right tam9">Asunto: Informe del porcentaje de asistencia de tutorados</p>
          </div>
          <br>
          <div class="container-fluid">
            <p class="text-left tam10 font-weight-bold">{{line1}} <br> {{line2}} <br>
              PRESENTE</p>
          </div>
          <br>
          <div class="container-fluid ">
            <p class="text-justify tam10" style="width: 99%;">
              {{txtArea}}
            </p>
            <p class="text-justify">Sin más por el momento, agradezco la atención que brinde al presente.</p>
          </div>

          <div class="container" style="margin-top: 5%;">

            <table class="table table-sm">
              <thead>
                <tr class="font-weight-bold">
                  <td scope="col" class="align-middle">Matricula</td>
                  <td scope="col" style="width: 30%;" class="align-middle">Nombre del tutorado (a)</td>
                  <td scope="col" style="width: 20%;" class="align-middle">Semestre y grupo</td>
                  <td scope="col" class="align-middle">Número de sesiones a que fue convocado</td>
                  <td scope="col" class="align-middle">Número de sesiones a que asistió</td>
                  <td scope="col" class="align-middle">Porcentaje alcanzado</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of alumnos">
                  <td>{{item.matricula}}</td>
                  <td>{{item.nombre}} {{item.apellido}} </td>
                  <td>{{item.semestre}} {{item.grupo}}</td>
                  <td>{{docente?.sesiones.length}}</td>
                  <td>{{item.asistenciaPresente}}</td>
                  <td>{{item.promAsistencia}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>

          <div class="container-fluid">           
          
          <p class="text-left tam10 font-weight-bold">A T E N T A M E N T E </p>
          <p class="text-left tam8 font-italic font-weight-bold">Innovación Tecnológica y Desarrollo Regional
            Sustentable</p>
          </div>
        </div>
      </mat-card-content>
      <div class="container-fluid" style="bottom: 0%; position: absolute;">
        <app-footer-resportes></app-footer-resportes>
      </div>
    </mat-card>
  </div>
</div>

<div class="container bg-light">
  <br>
  <br>
  <div class="form-group">
    <input class="form-control" type="text" name="" [(ngModel)]="line1">
  </div> 
  <br>
  <div class="form-group">
    <input class="form-control" type="text" name="" [(ngModel)]="line2">
  </div> 
   <br>
  <textarea name="textarea" [(ngModel)]="txtArea" cols="50" rows="8" class=""></textarea>

  <div class="container-fluid w-100">
    <button mat-raised-button color="warn" (click)="exportPdf()" class="w-25" style="margin-left: 380px;">PDF</button>
  </div>

</div>
