.example-card {
  background: url('../../../../assets/Resporte/background_main.png');
  background-size: cover;
}


th {
  font-family: 'Montserrat Medium';
  background: #e2b3b3;
  font-size: 9pt;
}

tr {
  text-align: center;
  font:sans-serif;
  font-size: 9pt;
}
.sinborde {
  border: 0;
}

p {
  line-height: 90%;
  font:sans-serif;
  font-size: 9pt;
}
