.container {
  width: 1000px;
}

.btn-azul {
  background: #1b396a;
  color: white;
}

.mat-form-field {
  color: #000;
  font-size: 12pt;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.596);
}

.btn-lg {
  background: #1b396a;
  color: #fff;
}

label {
  color: #1b396a;
}

.mat-card-title {
  font-size: 18pt;
  color: #1b396a;
  font-weight: bold;
}

/*style="background: rgba(2, 128, 117, 0.788);"*/
.mat-card {
  background: linear-gradient(#ffffffd0, #ffffffc2), url(../../../../assets/svg/crear-evaluacion.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

.tam-index {
  font-size: 12pt;
  color: #000;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {

  .container {
    width: 100%;
  }
}

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 4px 16px white;
}
