
ul {
  list-style-type: none;
  display: flex;
  padding: 1px 0;
}


li a {
  color: #fff;
  font-family: verdana;
  letter-spacing: 1px;
  opacity: 1.0;

}

a{
  font-weight: bold;
}

.example-container{
  width: 100%;
}

.division-img{
  width: 70px;
  height:auto;
}

.gob-img{
  width: 80%;
  height:auto;
}

