

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  margin: 0;
}
 /**/
ul {
  list-style-type: none;
  display: flex;
  padding: 10px 0;
  background-size: 200% 200%;
  /*background-image: linear-gradient(-45deg, #ff9900e7, #ff9101fb, #ffda05, #ff9101fb,#ff9900e7);*/
  animation: 10s myGradient infinite;
  border-radius: 10px;
  /*box-shadow: 3px 3px 20px #ff3352;*/
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}


li a {
  color: #fff;
  font-family: verdana;
  letter-spacing: 1px;
  opacity: 1.0;

}

a{
  font-weight: bold;
}

.example-container{
  height: 100px;
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 400px){
  img{
    background-size: 100% 100%;
    width: 30%;
  }
}