<div class="">
  <div class="container-fluid example-container">
    <div class="d-flex align-items-center justify-content-around ">
      <div><img loading="lazy"  src="../../../assets/pleca_tecnm.webp" alt="..." class="img-fluid gob-img"></div>
      <div><img loading="lazy"  src="../../../assets/pleca-gob1.png" alt="..." class="img-fluid gob-img"></div>
      <div><img loading="lazy"  src="../../../assets/pleca-gob2.png" alt="..." class="img-fluid gob-img" ></div>
      <div><img loading="lazy"  src="../../../assets/Logo_ITSTE.png" alt="..." class="img-fluid division-img{" ></div>
    </div>
  </div>
  <nav class="navbar navbar-light navbar-expand-lg  " style="background: #ff6600;">
    <a href="#" class="active nav-link" routerLink="/home">
      <img width="65" alt="img" src="../../../assets/divisiones/ITSTE.png" />
    </a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="#" class="active nav-link" routerLink="/home">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class=" nav-link" routerLink="/alumnos">Alumnos</a>
        </li>

        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class=" nav-link" routerLink="/docentes">Docentes</a>
        </li>

        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class=" nav-link" routerLink="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class=" nav-link"
            routerLink="/usuarios/url-secret/lvb4/admin/itste">Codigos</a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="isDocente()" class=" nav-link"
            [routerLink]="['/sesiones-ver/',authService.usuario.username]">Sesiones</a>
        </li>
      </ul>



      <form class="form-inline my-2 my-lg-0 ml-auto mr-5">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!authService.isAuthenticated()">
            <a href="#" class="active nav-link" routerLink="/login">Iniciar Sesion</a>
          </li>

          <li *ngIf="authService.isAuthenticated()" class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{authService.usuario.username}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesion</button>
              <div class="container" *ngIf="!authService.hasRole('ROLE_ADMIN')">
                <button *ngIf="authService.hasRole('ROLE_ALUMNO')"
                  [routerLink]="['/alumnos/form/alumno-perfil/',authService.usuario.username]" class="dropdown-item"
                  type="button">Perfil</button>

                <button *ngIf="authService.hasRole('ROLE_DOCENTE')"
                  [routerLink]="['/docentes/form/docente-perfil/',authService.usuario.username]" class="dropdown-item"
                  type="button">Perfil</button>

                <button *ngIf="authService.hasRole('ROLE_DOCENTE')" [routerLink]="['/sesiones/form']"
                  class="dropdown-item" type="button">Crear Reunion</button>
              </div>

            </div>
          </li>

        </ul>
      </form>
    </div>
  </nav>
  <div class="mx-auto p-1">
    <div class="d-flex align-items-center justify-content-around w-100">
      <!--style="background: #1b396a8a;"-->
      <div><img loading="lazy" src="../../../assets/divisiones/isc.webp" alt="..." class="img-fluid division-img" ></div>
      <div><img loading="lazy" src="../../../assets/divisiones/idc.webp" alt="..." class="img-fluid division-img" ></div>
      <div><img loading="lazy" src="../../../assets/divisiones/Log.webp" alt="..." class="img-fluid division-img" ></div>
      <div><img loading="lazy" src="../../../assets/divisiones/admin.webp" alt="..." class="img-fluid division-img"></div>
      <div><img loading="lazy" src="../../../assets/divisiones/descarga.webp" alt="..." class="img-fluid division-img"></div>      
    </div>
  </div>

</div>
