<div class="container-fluid">
  <div class="container-fluid example-container bg-light ">
    <img src="../../../assets/pleca_tecnm.jpg" alt="..." class="img-fluid">

    <img src="../../../assets/pleca-gob1.png" alt="..." class="img-fluid">

    <img src="../../../assets/pleca-gob2.png" alt="..." class="img-fluid" height="100">

    <img src="../../../assets/Logo_ITSTE.png" alt="..." class="img-fluid" height="80" width="80">
  </div>
  <nav class="navbar navbar-expand-lg" style="background: #1B396A;">
    <img width="80" alt="Angular Logo" src="../../../assets/divisiones/ITSTE.png" />
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Ver</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="#" class="active nav-link " routerLink="/home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class="active1 nav-link"
            routerLink="/alumnos">Alumnos</a>
        </li>

        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class="active2 nav-link"
            routerLink="/docentes">Docentes</a>
        </li>

        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class="active1 nav-link"
            routerLink="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_ADMIN')" class="active1 nav-link"
            routerLink="/usuarios/url-secret/lvb4/admin/itste">Codigos</a>
        </li>
        <li class="nav-item">
          <a href="#" *ngIf="authService.hasRole('ROLE_DOCENTE')" class="active1 nav-link"
          [routerLink]="['/sesiones-ver/',authService.usuario.username]">Sesiones</a>
        </li>
      </ul>



      <form class="form-inline my-2 my-lg-0 ml-auto">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!authService.isAuthenticated()">
            <a href="#" class="active nav-link" routerLink="/login">Login</a>
          </li>

          <li *ngIf="authService.isAuthenticated()" class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{authService.usuario.username}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
              <div class="container" *ngIf="!authService.hasRole('ROLE_ADMIN')">
                <button *ngIf="authService.hasRole('ROLE_ALUMNO')"
                  [routerLink]="['/alumnos/form/alumno-perfil/',authService.usuario.username]" class="dropdown-item"
                  type="button">Perfil</button>
                  
                <button *ngIf="authService.hasRole('ROLE_DOCENTE')"
                  [routerLink]="['/docentes/form/docente-perfil/',authService.usuario.username]" class="dropdown-item"
                  type="button">Perfil</button>
                  
                  <button *ngIf="authService.hasRole('ROLE_DOCENTE')"
                  [routerLink]="['/sesiones/form']" class="dropdown-item"
                  type="button">Crear Reunion</button>
              </div>

            </div>
          </li>

        </ul>
      </form>
    </div>
  </nav>
  <div class=" bg-light mx-auto p-1">

    <div class="text-center  p-1 example-container" style="background: #1B396A;">
      <img src="../../../assets/divisiones/isc.png" alt="..." class="img-fluid mx-1" width="80">

      <img src="../../../assets/divisiones/idc.png" alt="..." class="img-fluid mx-1" width="80">

      <img src="../../../assets/divisiones/Log.png" alt="..." class="img-fluid mx-1" width="80">

      <img src="../../../assets/divisiones/admin.png" alt="..." class="img-fluid mx-1" width="80">

      <img src="../../../assets/divisiones/descarga.png" alt="..." class="img-fluid mx-1" width="80">
    </div>

  </div>

</div>
