label{
    font-size: 12pt;
    color:#1B396A;
    font-weight: bold;
}

.btn-crear{
    color:white;
    background: #1B396A;
}

input{
    width: 100%;
    border-color: #FF6D00;
}

.mat-form-field{
    width: 100%;
}