.colorFondo {
  background: rgba(106, 121, 117, 0.335);
  /*background: rgba(0, 92, 72, 0.596);*/
}

.text-12{
  font-size: 16pt !important;
  color: #1B396A !important;

}
.fondoCrear {
  background: #1B396AE6;
  color: white;
  margin-right: auto !important;
}

.fondoCard {
  background-size: cover;
  width: 900px;
  max-width: 100%;
}

.mat-form-field {
  font-size: 12pt;
}

.efecto-h:hover {
  cursor: pointer;
  background: #ff6f0021;
  transition: all 0.3s linear;
}
