.colorFondo{
    background: rgba(106, 121, 117, 0.335); /*background: rgba(0, 92, 72, 0.596);*/
}

.fondoCrear{
    background: #1B396AE6;
    color: white;
    width: 100%;
}
.fondoCard{
    background-size: cover;
    width: 900px;
    max-width: 100%;
}

  .example-full-width {
    width: 100%;
  }

  .mat-form-field{
      max-width: 100%;
  }

